<main>
  <md-icon>home</md-icon>
  <h1>{{title}}</h1>
  <h3>Angular - Material - git</h3>
  <a href="https://bitbucket.org/universaldecor/ng-material/overview" target="_blank" md-button>Instruções</a>
</main>
