@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  text-align: center;
  font-family: Roboto, sans-serif;
  color: #333;
}

h3 {
  font-weight: 100;
  text-transform: uppercase;
}

